* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  background-color: rgba(238, 238, 238, 0.6);
  position: absolute;
  z-index: 1;
  width: 100%;
}
.nav__brand {
  flex: 2;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.nav__brand .logo__image {
  height: 3rem;
  margin: 5px;
  flex: 1;
}
.nav__brand .logo__name {
  flex: 1;
  margin: 0;
  padding-left: 0.7rem;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Roboto;
}
.nav__list {
  flex: 1.5;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}
.nav__item {
  flex: 1;
  font-size: 1.2rem;
}
.nav__link {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.nav__link:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: white;
}

.horizontal-line {
  margin: 2.5rem 1.5rem;
  background-color: #7a7a7a;
}

.hero__image {
  position: relative;
  width: 100%;
}
.hero__pic {
  width: 100%;
  height: 100vh;
  opacity: 0.8;
}
.hero__buttons-group {
  position: absolute;
  top: 10%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__button {
  margin: 0.4rem;
  padding: 0.7rem 1.3rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Tahoma;
  border-radius: 0.5rem;
  color: #000;
  background-color: rgba(238, 238, 238, 0.6);
  letter-spacing: 0.1rem;
  border: 1px solid #000;
}
.hero__button:hover {
  color: #fff;
  background-color: rgba(170, 170, 170, 0.6);
  border: 1px solid rgba(238, 238, 238, 0.6);
}
.hero__button--active {
  color: #fff;
  background-color: rgba(170, 170, 170, 0.6);
  border: 1px solid rgba(238, 238, 238, 0.6);
}

.main {
  margin: 2rem 0;
}
.main__heading {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 500;
  font-family: Tahoma;
}
.main .section-wrap {
  display: flex;
  margin: 2.5rem 1rem 0 1rem;
}
.main .section-wrap .primary-article {
  flex: 2;
}
.main .section-wrap .primary-article__text {
  font-size: 1.2rem;
  font-family: Tahoma;
  margin: 1rem;
}
.main .section-wrap .secondary-article {
  flex: 1;
}
.main .section-wrap .secondary-article__heading {
  margin: 1rem 0;
  font-size: 1.2rem;
  text-align: center;
}

.parallax__image {
  background-image: url(https://source.unsplash.com/900x400/);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax__header {
  color: #000;
  background-color: rgba(238, 238, 238, 0.6);
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: 2.2rem;
}

.second-wrap {
  margin: 2rem;
}
.second-wrap .second-section .second-article__heading {
  text-align: center;
  font-size: 2.5rem;
  font-family: Tahoma;
  letter-spacing: 2px;
  font-weight: bold;
}
.second-wrap .second-section .second-article__text {
  margin: 5rem 2rem;
  font-family: Roboto;
  font-size: 1.2rem;
}
.second-wrap .photo-section .images-group--top {
  display: flex;
  justify-content: center;
}
.second-wrap .photo-section .images-group--bot {
  display: flex;
  justify-content: space-evenly;
}
.second-wrap .photo-section .images-group__image-top {
  margin: 1rem 0.2rem;
  border-radius: 50%;
}
.second-wrap .photo-section .images-group__image-top:hover {
  border-radius: 0;
  transition-duration: 0.7s;
}
.second-wrap .photo-section .images-group__image-bot {
  margin: 0.5rem 0;
}
.second-wrap .photo-section .images-group__image-bot:hover {
  transition-duration: 1s;
  border-radius: 50%;
}

.footer {
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  padding: 1rem 0;
  margin-top: 1rem;
}
.footer .footer-left {
  flex: 1;
}
.footer .footer-left__text {
  margin: 0 0 0 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}
.footer .footer-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-right__text {
  margin: 0 0.5rem 0 0;
  font-size: 1.2rem;
  color: #000;
}
.footer .footer-right__link {
  text-decoration: none;
  color: #000;
}
.footer .footer-right__link:hover {
  color: #4b4b4b;
}
.footer .footer-right .fa {
  font-size: 1.5rem;
  margin: 0 2px;
}