* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

@import 'abstract/variables';
@import 'abstract/mixins';



@import 'layout/navigation';
@import 'layout/hero';
@import 'layout/main';
@import 'layout/parallax';
@import 'layout/second-section';
@import 'layout/footer';






