// Hero Image with Buttons
.hero {
    
    &__image {
        position: relative;
        width: 100%;
    }
  
    &__pic {
        width: 100%;
        height: 100vh;
        opacity: 0.8;

        @media screen and (max-width: 560px) {
            height: 70vh;
        }
    }

    &__buttons-group {
        position: absolute;
        top: 10%;
        height: 100%;
        width: 100%;
        @include flex;

        @media screen and (max-width: 560px) {
            top: -10%;
        }
    }
    
    &__button {
        margin: 0.4rem;
        padding: 0.7rem 1.3rem;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: Tahoma;
        border-radius: 0.5rem;
        color: $color-black;
        background-color: $color-lightgray;
        letter-spacing: 0.1rem;
        border: 1px solid $color-black;

        @media screen and (max-width: 560px) {
            font-size: 1.2rem;
        }

        &:hover {
            @include button;
        }
    }

    &__button--active {
        @include button;
    }
}