// Main Section
.main {
    margin: 2rem 0;
    
    &__heading {
        text-align: center;
        font-size: 2.3rem;
        font-weight: 500;
        font-family: Tahoma;
    }
 
    .section-wrap {
         display: flex;
         margin: 2.5rem 1rem 0 1rem;
 
        .primary-article {
            flex: 2;
 
            &__text {
                font-size: $size-sm;
                font-family: Tahoma;
                margin: 1rem;
            }
        }
 
        .secondary-article {
            flex: 1;
 
            &__heading {
                margin: 1rem 0;
                font-size: $size-sm;
                text-align: center;
            }
        }
    }
 }