// Navigation
.nav {
    display: flex;
    background-color: $color-lightgray;
    position: absolute;
    z-index: 1;
    width: 100%;

    &__brand {
        flex: 2;
        padding: 0;
        margin: 0;
        @include flex-sm;

        .logo__image {
            height: 3rem;
            margin: 5px;
            flex: 1;
        }

        .logo__name {
            flex: 1;
            margin: 0;
            padding-left: 0.7rem;
            font-size: $size-sm;
            font-weight: 600;
            font-family: Roboto;
        }
    }

    &__list {
        flex: 1.5;
        @include flex-sm;
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
    }

    &__item {
        flex: 1;
        font-size: $size-sm;
    }
    
    &__link {
        display: inline-block;
        width: 100%;
        padding: 1rem;
        color: black;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.1rem;
        
        &:hover{
            text-decoration-line: none;
            color: white;
        }
    }
}

// Horizontal Line
.horizontal-line {
    margin: 2.5rem 1.5rem;
    background-color: rgb(122, 122, 122);
}
