// Parallex Section
.parallax {

    &__image {
        background-image: url(https://source.unsplash.com/900x400/);
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 50vh;
        @include flex;
    }

    &__header {
        color: $color-black;
        background-color: $color-lightgray;
        padding: 0.5rem 1rem;
        border-radius: 0.4rem;
        font-size: 2.2rem;
    }
}