// Hero buttons 
$color-lightgray: rgba(238, 238, 238, 0.6);
$color-darkgray: rgba(170, 170, 170, 0.6);
$border-button: 1px solid rgba(238, 238, 238, 0.6);

$color-white: #fff;
$color-black: #000;


$size-sm: 1.2rem;
